*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    height:100vh;
    background-color: red;
    display: flex;
    flex-direction: column;
}


header{
    background-color: black;
    flex-grow: 1;
}

main{
    background-color: black;
    flex-grow:2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    padding:0px 30px;
}

footer{
    background-color:#202020;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.cards{
    width:calc(100%/7 - 5px);
    height:100px;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    
    
}

.icons{
    width:20%;
    background-color: red;
    display: flex;
    align-items:center;

}

.icons-middle{
    width: 80%;
    background-color: red;
    border: 1px solid black;
    margin:0 50px;
    display: flex;
    

}

/* icone */
.fa-microphone, .fa-video{
font-size: 40px;
padding:0px 10px;
color: white;
}


.fa-video{
    margin:0px 15px;
    color: white;
}

p{
    text-align: center;
    padding:5px;
    color:white;
}