*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* containers */

.container{
    height:100vh;
    display: flex;
    flex-direction: column;
}


header{
    background-color: black;
    flex-grow: 1;
    display: flex;
    
}

main{
    background-color: black;
    flex-grow:2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    padding:0px 30px;
}

footer{
    background-color:#202020;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.cards{
    width:calc(100%/7 - 5px);
    height:100px;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    
    
}

.microphone-option{
    background-color:rgba(50%, 50%, 50%, 0.5);
    
}

.icons{
    width:20%;
    display: flex;
    align-items:center;
    

}

.icons-middle{
    width: 80%;
    margin:0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}

/* icons main */
main p{
    color:white;
    display: inline;
}

.fa-microphone-slash{
    color: white;
}



/* icons footer */

.fa-microphone, .fa-video, .fa-user-plus, .fa-user-group, .fa-chart-column, .fa-comment, .fa-record-vinyl, .fa-windows, .fa-ellipsis{
font-size: 30px;
color: white;
cursor: pointer;
text-align: center;

}

.icons>div{
    
    text-align: center;
    margin-left: 10px;
    
}

.icons-middle>div{
justify-content: center;
text-align: center;
margin:15px;
}



.fa-angle-up{
    color:white;
    margin:15px;    
}

.fa-share-from-square{
    font-size: 30px;
    color:green;
}



footer p{
    font-size: 15px;
    color:white;
    margin-top:10px;


}

.text-format-meeting{
    color:red;
    background-color: gray;
    font-size: 20px;
    padding: 15px;
    
}

.align{
    justify-content: flex-end;
}

